@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>CarSpecs</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to CarSpecs</h2>
        <p>
            CarSpecs is a simple, lightweight application for
            viewing and comparing data between different consumer vehicles.
        </p>
    </div>

        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
</div>
